/* index */
.index-row-list {
    margin: 0 !important;
    padding: 15px 5px;
}

.index-row-list > div {
    font-size: 0;
    margin-bottom: 15px;
}

.index-row-list > div img {
    width: 100%;
    height: 130px;
    object-fit: contain;
}

.index-row-list > div p {
    font-size: 14px;
    display: -webkit-box;
    overflow: hidden;
    margin-top: 5px;
    text-overflow: ellipsis;
    color: #606266;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.index-row-list > div p.price {
    color: red;
}

.index .search-mask, .index .search-result {
    position: fixed;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding: 15px;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
}

.index .search-mask {
    z-index: 2;
    padding: 0;
    background-color: #f7f7f7;
}

.index .search-log {
    padding: 15px;
    background-color: #fff;
}

.index .clear-logs {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.index .search-log .van-hairline--top-bottom::after {
    border-bottom: 0;
}

.index .cell-title.van-hairline--top-bottom::after {
    border-top: 0;
}

/* goodsDtail */
.goodsDtail {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #f7f7f7;
}

.goodsDtail .info {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;
}

.goodsDtail .info > div {
    margin-bottom: 10px;
}

.goodsDtail .info .title {
    display: flex;
    justify-content: space-between;
}

.goodsDtail .info .name {
    font-size: 16px;
    padding-right: 10px;
    color: #333;
}

.goodsDtail .info .nums {
    font-size: 14px;
    min-width: 100px;
    text-align: right;
}

.goodsDtail .info .price {
    color: red;
}

.goodsDtail .info .tips {
    font-size: 14px;
    color: #909399;
}

.goodsDtail .van-hairline--top-bottom::after {
    border-top: 0;
}

.goodsDtail .van-tab__pane {
    background-color: #fff;
}

.goodsDtail .van-tab__pane.goods-parameter, .goodsDtail .van-tab__pane.goods-img {
    /* font-size: 0; */
    padding: 15px;
}

.goodsDtail .van-tab__pane.goods-parameter img, .goodsDtail .van-tab__pane.goods-img img {
    width: 100%;
    margin-bottom: 10px;
}

.goodsDtail .goods-desc {
    padding-bottom: 50px;
}

.goodsDtail .goods-desc.no-padding {
    padding-bottom: 0;
}

/* shoppingCart */
.shoppingCart .classify {
    padding: 15px;
}

.shoppingCart .classify .main-content {
    padding-bottom: 105px;
}

.shoppingCart .classify .class-list-item-info {
    padding-left: 5%;
    flex: 3;
}

.shoppingCart .classify .goods-info .goods-buy > div {
    font-size: 16px;
    line-height: 25px;
    padding: 0 15px;
}

.shoppingCart .classify .goods-info .goods-buy > div.num-btn {
    border: 0;
}

.shoppingCart .classify .goods-info .goods-price {
    font-size: 16px;
}

.shoppingCart .classify .class-list-item-info .goods-name {
    font-size: 16px;
    margin-bottom: 7px;
    color: #333;
}

.shoppingCart {
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch; */
    /* padding-bottom: 60px */
}

.shoppingCart .van-submit-bar__bar {
    box-sizing: border-box;
    height: 70px;
    padding: 15px;
    background-color: rgba(255, 255, 255, .8);
}

.shoppingCart .van-submit-bar .van-button {
    line-height: 40px;
    width: auto;
    padding: 0 25px;
    border-color: #d0021b;
    background-color: #d0021b;
}

.shoppingCart .van-submit-bar__price span, .shoppingCart .van-submit-bar__price-decimal, .shoppingCart .van-submit-bar__price-interger {
    color: #d0021b;
}

.shoppingCart.showTabbar {
    padding-bottom: 110px;
}

.shoppingCart .minus.van-button--mini, .shoppingCart .plus.van-button--mini {
    font-size: 16px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.shoppingCart .van-card:first-child {
    margin-top: 10px;
}

.shoppingCart .van-submit-bar.showTabbar {
    bottom: 50px;
}

.shoppingCart .minus {
    color: #c3979d;
    background-color: #faedef;
}

.shoppingCart .plus {
    color: #fff;
    background-color: #d0021b;
}

/* pay */

/* .pay .address {
    padding-bottom: 2px;
    background-image: url(data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAECAYAAAA3S5neAAAAAXNSR0IArs4c6QAAAIpJREFUOBHF0iESg1AMBNDshx4H0+EUSCxnQKBAVDIMjhnOgO8NOADTI7V/CcjU58ckq/aJQHTYto2u7bpdB3hjXWvb+Ry/jTC6e6CeQBIK6i3KJWfZbHsuDxiTeCCcc+m6SlGFhTnkHcty2J5y+lVM4NHv2D+vxxEkxsGiXHIIf99x95JJPIDcnhMVeyVty5S/SAAAAABJRU5ErkJggg==);
    background-size: 34px 2px;
} */
.container.pay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #f7f7f7;
}

.pay .van-cell__title span {
    color: #333;
}

.pay .van-cell__label {
    font-size: 14px;
    padding-right: 20px;
    color: #878ca1;
}

.pay .address .van-cell__title span {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 7px;
}

.pay .address .van-hairline--top-bottom::after {
    border-width: 0;
}

.pay .order-cell {
    display: flex;
    padding: 25px 15px;
    background-color: #fff;
}

.pay .order-cell .order-cell-img {
    font-size: 0;
    flex: 1;
}

.pay .order-cell .order-cell-img img {
    width: 100%;
}

.pay .order-cell .order-cell-info {
    display: flex;
    padding-left: 20px;
    flex: 3;
    align-content: space-around;
    flex-wrap: wrap;
}

.pay .order-cell .order-cell-info > p {
    width: 100%;
}

.pay .order-cell .order-cell-info .goods-name {
    line-height: 1;
    margin-bottom: 10px;
    color: #333;
}

.pay .order-cell .order-cell-info .goods-price {
    font-size: 14px;
    line-height: 1;
    color: red;
}

.pay .order-cell .order-cell-info .goods-tips {
    font-size: 14px;
}

.pay .goods-info {

    /* margin-top: 30px; */
}

.pay .address .van-cell {
    padding: 20px 15px;
}

.pay .goods-info.van-hairline--top-bottom:after {
    border-width: 0;
}

.pay .goods-info .van-cell__value--alone {
    text-align: right;
}

.pay .goods-info .van-cell__value span {
    color: #d0021b;
}

.pay .pay-btn {
    margin: 30px 0;
    padding: 0 15px;
}

.pay .pay-btn .van-button__text {
    color: #fff;
}

.pay .goods-num {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
}

.pay .goods-num .title {
    color: #333;
}

.pay .goods-num .btn-group {
    display: flex;
}

.pay .goods-num .btn-group > div {
    width: 24px;
    height: 24px;
    text-align: center;
}

.pay .goods-num .btn-group > div.btn-item {
    border-radius: 50%;
}

.pay .goods-num .btn-group > div.btn-item.minus {
    margin-right: 5px;
    color: #c3979d;
    background-color: #faedef;
}

.pay .goods-num .btn-group > div.btn-item.plus {
    margin-left: 5px;
    color: #fff;
    background-color: #d0021b;
}

.pay .order-item {
    margin-top: 7px;
}

.pay .order-item.no-margin {
    margin-top: 0;
}

.pay .all-data {
    font-size: 14px;
    display: flex;
    padding: 15px;
    border-top: 2px dashed #e5e5e5;
    background-color: #fff;
}

.pay .all-data .slot {
    flex: 1;
}

.pay .all-data .data-wrapper {
    min-width: 50%;
}

.pay .all-data .data-wrapper .data-item {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
}

.pay .all-data .data-wrapper .data-item.need-pay {
    margin-top: 10px;
}

.pay .all-data .data-wrapper .data-item .data-item-label {
    color: #757575;
}

.pay .all-data .data-wrapper .data-item .data-item-value {
    color: #191919;
}

.pay .all-data .data-wrapper .data-item.need-pay .data-item-label {
    line-height: 26px;
}

.pay .all-data .data-wrapper .data-item.need-pay .data-item-value {
    font-size: 20px;
    color: #d0021b;
}

/* center */
.center {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding-bottom: 50px;
    background-color: #f7f7f7;
    -webkit-overflow-scrolling: touch;
}

.center .van-collapse.van-hairline--top-bottom::after {
    border: 0;
}

.center .van-collapse-item__content {
    padding: 0 15px;
}

.center .header {
    display: flex;
    padding: 30px 5% 20px;
    background-color: #fff;
}

.center .header .avatar {
    display: flex;
    flex: 3;
    align-items: center;
}

.center .header .avatar img {
    width: 100%;
    border-radius: 50%;
}

.center .header .name button {
    color: #d0021b;
}

.center .header .name button.active {
    color: #fff;
}

.center .section .van-hairline--top-bottom::after {
    border: 0;
}

.center .van-cell__right-icon {
    color: #d0021b;
}

.center .section .gray .van-cell__title span {
    color: #b0aeb0;
}

.center .section .van-cell:not(:last-child)::after {
    border: 0;
}

.center .header .name {
    display: flex;
    /* padding-left: 25px; */
    min-height: 80px;
    flex: 8;
    flex-wrap: wrap;
    align-content: space-around;
}

.center .header .name .van-button--default {
    font-size: 12px;
    line-height: 22px;
    height: 24px;
    margin-right: 10px;
    border-color: #d0021b;
    border-radius: 30px;
}

.center .header .name .active.van-button--default {
    background-color: #d0021b;
}

.center .header .name .van-button--small {
    min-width: 50px;
}

.center .header .name .active.van-button--default .van-button__text {
    color: #fff;
}

.center .header .name .van-button--default .van-button__text {
    color: #d0021b;
}

.center .header .name > div {
    width: 100%;
}

.center .header .name > div:first-child {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    width: 0;
    padding-right: 55px;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}

.center .section {
    margin-bottom: 10px;
    background-color: #fff;
}

.center .order-classify {
    display: flex;
    padding: 10px 0 25px;
    justify-content: space-around;
}

.center .order-classify > div {
    flex: 1;
    font-size: 12px;
    text-align: center;
}

.center .order-classify img {
    width: 30%;
    height: 6vw;
    object-fit: contain;
    margin-bottom: 5px;
}

.center .balance-num {
    font-size: 10vw;
    padding: 15px;
}

.center .balance {
    display: flex;
}

.center .balance > div {
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    flex: 1;
}

.center .my-van-cell {
    font-size: 14px;
    line-height: 24px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 15px;
    color: #333;
    background-color: #fff;
    align-items: center;
}

.center .my-van-cell > div.tips {
    overflow-x: scroll;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #aaacb3;
    flex: 1;
}

.center .my-van-cell > div.tips p {
    white-space: nowrap;
}

.center .my-van-cell > div.tips input {
    width: 100%;
    border: 0;
    appearance: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: initial;
}

.center .my-van-cell > div.right-btn {
    font-size: 12px;
    line-height: 22px;
    padding: 0 10px;
    color: #aaa;
    border: 1px solid #aaa;
    border-radius: 30px;
}

/* pvp */
.pvp {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #f7f7f7;
}

.pvp .cell-label {
    font-size: 14px;
    padding: 20px 15px 15px;
    color: rgba(69, 90, 100, .6);
}

.pvp .isPvp .van-hairline--top-bottom::after {
    border-top: 0;
}

.pvp .pvp-list {
    padding: 15px 0;
}

.pvp .pvp-list-item {
    display: flex;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;
}

.pvp .pvp-list-item > div:first-child {
    flex: 1;
}

.pvp .pvp-list-item > div:last-child {
    padding-left: 15px;
    flex: 4;
    align-items: center;
}

.pvp .pvp-list-item > div:first-child img {
    width: 100%;
    border-radius: 50%;
}

/* order */
.order {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #f7f7f7;
}

.order .order-list {

    /* margin-top: 10px; */
}

.order .order-item {
    margin-bottom: 7px;
    background-color: #fff;
}

.order .van-hairline--top-bottom::after {
    border-top: 0;
}

.order .van-tabs__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.order .order-num-status {
    font-size: 14px;
    display: flex;
    padding: 30px 15px 5px;
    justify-content: space-between;
}

.order .order-num-status > div {
    line-height: 1;
}

.order .order-num-status > div:last-child span, .order .order-num-status > div:last-child img {
    vertical-align: middle;
}

.order .order-num-status > div.pending-pay span {
    color: #d0021b;
}

.order .order-num-status > div.confirm span {
    color: #e9b106;
}

.order .order-info {
    display: flex;
    padding: 15px;
}

.order .order-info > div.order-img {
    flex: 3;
}

.order .order-info > div.order-desc {
    display: flex;
    padding-left: 15px;
    flex: 7;
    align-content: space-between;
    flex-wrap: wrap;
}

.order .order-desc > div {
    width: 100%;
}

.order .price-nums {
    display: flex;
    justify-content: space-between;
}

.order .order-img {
    font-size: 0;
}

.order .order-img img {
    width: 100%;
}

.order .order-btn {
    line-height: 40px;
    text-align: center;
    color: #999;
    padding: 5px;
}

.order .order-btn.pendingPay {
    display: flex;
}
.order .order-btn.pendingPay > div {
    color: #d0021b;
    flex: 1;
    text-align: center; 
}

.order .order-btn.confirm {
    color: #e9b106;
}

/* orderDetail */
.orderDetail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #f7f7f7;
}

.orderDetail .address {
    margin-bottom: 10px;
}

.orderDetail .order {
    position: static;
    height: auto;
    min-height: auto;
    background-color: #fff;
}

.orderDetail .order-info {
    margin-bottom: 10px;
}

.orderDetail .van-cell:not(:last-child)::after {
    border: 0;
}

/* balanceLog */
.balanceLog .table-heaer {
    display: flex;
    padding: 0 15px;
}

.balanceLog .table-heaer > div {
    line-height: 40px;
    text-align: center;
    flex: 1;
}

.balanceLog .table-body {
    padding: 0 15px;
}

.balanceLog .table-tr {
    display: flex;
}

.balanceLog .table-tr > div {
    font-size: 14px;
    display: flex;
    text-align: center;
    word-break: break-word;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.balanceLog .table-tr > div:nth-child(2) {
    padding: 10px;
}

.balanceLog .table-tr > div.time {
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0;
    flex-wrap: wrap;
    align-content: space-around;
}

.balanceLog .table-tr > div.time p {
    line-height: 1;
}

/* cash */
.cash {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #f7f7f7;
}

.cash .field-control {
    display: flex;
    padding: 15px;
    background-color: #fff;
}

.cash .field-control > div:first-child {
    padding-right: 25px;
    flex: 1;
}

.cash .field-control > div:first-child input {
    font-size: 24px;
    line-height: 30px;
    width: 100%;
    padding-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
}

.cash .field-control > div:last-child {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.cash .cash-tips {
    font-size: 14px;
    padding: 0 15px 15px;
    color: #999;
    background-color: #fff;
}

.cash .cash-balance {
    margin-top: 10px;
    padding: 15px;
    background-color: #fff;
}

.cash .cash-balance .cell-title {
    font-size: 14px;
    margin-bottom: 10px;
}

.cash .cash-balance .nums {
    font-size: 24px;
}

.cash .cash-btn {
    position: absolute;
    bottom: 20%;
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px;
}

/* recharge */
.cash.recharge .field-control {
    padding: 20px 15px;
}

.cash.recharge .field-control > div:first-child input {
    padding-bottom: 0;
    border-bottom: 0;
}

/* transfer */
.transfer .select-label {
    font-size: 14px;
}

.cash.transfer .cash-balance {
    margin-top: 0;
}

.transfer .select {
    position: relative;
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
}

.transfer .select select {
    min-width: 50px;
    padding-right: 20px;
    text-align: center;
    border: 0;
    outline: none;
    background-color: transparent;
    background-image: url('../assets/icon/down.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    appearance: none;
    -webkit-appearance: none;
}

.transfer .transfer-account {
    padding: 15px;
    background-color: #fff;
}

.transfer .transfer-account .title {
    font-size: 14px;
    margin-bottom: 10px;
}

.transfer .transfer-account input {
    width: 100%;
    padding-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

/* bonus */
.bonus {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #f7f7f7;
}

.bonus .header {
    padding: 30px 15px;
    text-align: center;
    background-color: #fff;
}

.bonus .total {
    font-size: 24px;
}

.bonus .title {
    font-size: 14px;
}

.bonus .bonus-logs {
    font-size: 14px;
    padding: 15px;
}

.bonus .bonus-class {
    display: flex;
    margin-top: 30px;
}

.bonus .bonus-class .nums {
    font-size: 18px;
    margin-bottom: 5px;
}

.bonus .bonus-class .name {
    font-size: 14px;
}

.bonus .bonus-class > div {
    text-align: center;
    flex: 1;
}

/* userinfo */
.userinfo .center .header {
    margin-bottom: 0;
    border-bottom: 10px solid #f7f7f7;
}

.userinfo  .center .header .name {
    flex: 4;
}

.userinfo .center .name > div:first-child {
    font-size: 18px;
    color: #333;
}

.userinfo .center .name > div:last-child span {
    font-size: 14px;
}

/* addressAddorEdit */
.addressAdd .addressInfo.van-hairline--top-bottom::after {
    border-top: 0;
}

.addressAdd .save-btn {
    position: absolute;
    bottom: 20%;
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px;
}

/* loginPassword */

/* register */
.register {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding-bottom: 30px;
    background-color: #f7f7f7;
    background-image: url('../assets/img/login_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.register .app-name {
    font-size: 24px;
    padding: 15% 0;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
}

.length .van-field__control {
    font-size: 22px;
}

.register .register-field {
    margin-top: 15%;
    padding: 0 25px;
}

.register .register-field input {
    color: #666;
}

.register .register-field div {
    color: #d0021b;
    background-color: transparent;
}

.register .van-cell-group.van-hairline--top-bottom::after {
    border: 0;
}

.register .van-cell:last-child::after {
    left: 15px;
    border-bottom-width: 1px;
}

.register .van-cell {
    line-height: 50px;
}

.register input::-webkit-input-placeholder {
    color: #ccc;
}

.register .register-btn {
    margin-top: 15%;
    padding-right: 25px;
    padding-left: 40px;
}

.register .register-btn button {
    background-color: transparent;
}

.register .register-btn button .van-button__text {
    color: #fff;
}

.register .tab-wrapper {
    width: 85%;
    margin: 50% auto 0;
    padding: 10% 0;
    border-radius: 5%;
    background-color: #fff;
}

.register .switch-tab {
    display: flex;
    padding: 0 20%;
    justify-content: space-around;
}

.register .tab-item {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.register .tab-item.active {
    color: #d0021b;
    border-bottom: 1px solid #d0021b;
}

.register .forgetPassword {
    font-size: 14px;
    padding-top: 5px;
    text-align: right;
    color: #999;
}

/* classify */
.classify .section {
    position: absolute;
    z-index: -1;
    top: 61px;
    right: 0;
    bottom: 50px;
    left: 0;
    display: flex;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 15px;
}

.classify .section .slider-content {
    overflow-y: scroll;
    min-width: 24%;
    max-width: 24%;
    -webkit-overflow-scrolling: touch;
}

.classify .section .slider-content > div {
    font-size: 4vw;
    padding: 5px 10px;
    word-break: break-all;
}

.classify .section .main-content {
    overflow: scroll;
    height: 100%;
    padding: 0 4.5%;
    flex: 1;
    -webkit-overflow-scrolling: touch;
}

.classify .class-banner {
    font-size: 0;
    margin-bottom: 15px;
}

.classify .class-banner img {
    width: 100%;
}

.classify .class-list-item {
    display: flex;
    margin-bottom: 10px;
    align-items: stretch;
}

.classify .class-list-item-img {
    font-size: 0;
    flex: 1;
}

.classify .class-list-item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.classify .class-list-item-info {
    display: flex;
    padding-left: 10px;
    flex: 2;
    flex-wrap: wrap;
    align-content: space-around;
}

.classify .class-list-item-info .goods-name {
    font-size: 14px;
    line-height: 1.5;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.classify .class-list-item-info > div {
    width: 100%;
}

.classify .goods-info {
    line-height: 1;
    display: flex;
    justify-content: space-between;
}

.classify .goods-info .goods-price {
    font-size: 14px;
    display: flex;
    color: #d0021b;
    align-items: center;
}

.classify .goods-info .goods-buy {
    display: flex;
    justify-content: space-around;
}

.classify .goods-info .goods-buy > div {
    font-size: 14px;
    line-height: 27px;
    padding: 0 10px;
}

.classify .goods-info .goods-buy > div.num-btn {
    font-size: 16px;
    line-height: 25px;
    width: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
}

.classify .slider-content .active {
    position: relative;
    color: #d0021b;
}

.classify .slider-content .active:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    content: '';
    background-color: #fff;
}

/**/
.search-wrapper {
    line-height: 30px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 5%;
    box-sizing: border-box;
    width: 90%;
    height: 30px;
    padding-left: 15px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .26);
}

.search-wrapper .van-icon {
    color: #fff;
}

.search-result {
    margin-top: 54px;
}

.search-classify {
    position: absolute;
    top: 0;    /* height: 42px; */
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    background-color: #fff;
}

.search-classify .search-input {
    font-size: 14px;
    line-height: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border-radius: 3px;
    border-radius: 30px;
    background-color: #f7f7f7;
}

.search-input i, .search-input span, .search-wrapper i, .search-wrapper span {
    vertical-align: middle;
}

.search-input span {
    margin-left: 5px;
    color: #999;
}

.search-wrapper span {
    display: inline-block;
    margin-left: 5px;
    color: #999;
}

/* setPassword */
.setPassword {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #f7f7f7;
}

.setPassword p {
    font-size: 14px;
    padding: 15px;
    color: #999;
    /* background-color: #fff; */
}

.setPassword .van-hairline--top-bottom::after {
    border: 0;
}

.setPassword .van-cell {
    line-height: 30px;
}

.setPassword .setPassword-btn {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    margin-top: 25%;
    padding: 0 25px;
}

.setPassword .step-wrapper {
    font-size: 0;
    padding: 30px 40px;
}

.setPassword img {
    width: 100%;
}

.setPassword .van-field__button div {
    color: #d0021b;
}

.setPassword .success-img {
    width: 40%;
    margin: 10% 0;
    margin-left: 30%;
}

.setPassword p.tips {
    text-align: center;
    background-color: transparent;
}

.searchPage .van-hairline--top-bottom::after {
    border-top: 0;
}

.searchPage {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #f7f7f7;
}

.searchPage .pay .order-cell {
    background-color: #fff;
}

.searchPage .van-search__input-wrap {
    border-radius: 34px;
}